/* Dark Green (#191A19), Soft White (#F2F2F2), Dark Gray (#444544) */
body{
  background-color: #191A19;
  color: #F2F2F2;
}
 .App{
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
 }
 button{
  background-color: transparent;
  border:0;
  display: inline-block;
  color: #F2F2F2;
  width: 100px;
  cursor: pointer;
 }
 button.with-text{
  width: 36px;
  float: left;
  margin: 5px;
 }
 label{
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: capitalize;
 }
 option{
  color: white;
 }
